@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
@import "reset.css";
@import "variable.css";

/* screen */
@import "screen/login.css";
@import "screen/chats.css";

/* components */
@import "components/user-components.css";
@import "components/status-bar.css";
@import "components/nav-bar.css";

/* body */
body {
  background-color: rgba(0, 0, 0, 0.7);
  height: 110vh;
  color: white;
  font-family: "Jua", sans-serif;
}

.border-top {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin: var(--default-padding);
}
