/* user-component */
.user-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--default-padding);
}

.user-component__img {
  width: 90px;
  height: 90px;
  border-radius: 40px;
}

.user-component__profile {
  display: flex;
  align-items: center;
  font-size: 25px;
  position: relative;
}

.user-component__profile-name {
  font-size: 25px;
}

.user-component__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.8;
  border: 1px solid white;
  border-radius: 30px;
  padding: 10px;
  font-size: 15px;
}

.user-component__box-music {
  margin-left: 30px;
}

/* birthday */
.friend-more {
  margin: var(--default-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-component__img-sm {
  width: 70px;
  height: 70px;
  border-radius: 30px;
}

.user-component__img-xs {
  width: 50px;
  height: 50px;
  border-radius: 15px;
}

.user-component__box-gift {
  margin-left: 10px;
}

.red-dot__profile {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: tomato;
  position: absolute;
  top: 0px;
  left: 0px;
}

.user-component__profile-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
  justify-content: center;
  height: 50px;
}

.user-component__profile-chat {
  font-size: 16px;
  opacity: 0.6;
  margin-top: 10px;
}

.user-component__profile-name > .fa-thumbtack {
  font-size: 16px;
  opacity: 0.6;
}

.user-component__chat {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 50px;
}

.user-component__chat-new {
  color: white;
  background-color: tomato;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-component__box-shop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.8;
  padding: 10px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
}

.user-component__box-shop > i {
  margin: 0 10px;
}

.user-component__profile-name-shop {
  color: rgba(0, 0, 0, 0.6);
  font-size: 20px;
}

.user-component-shop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--default-padding);
  border-bottom: 0.1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
}

.user-component__chat-header-window {
  opacity: 0.6;
}

.user-component__chat-header-window span {
  margin: 0 10px;
  font-size: 20px;
}

.user-component__chat-header-setting i {
  border-radius: 50%;
  background-color: black;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  margin-top: 10px;
  opacity: 0.6;
}

.user-component__chat-header-setting {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-component__profile-name-chat {
  opacity: 0.6;
}

.user-component__profile-box-chat {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 50px;
  margin-left: 10px;
  font-size: 16px;
}
